---
server:
  port: 8888


spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/razvanbugariu/spring-cloudconfig
          search-paths:
              - 'station*'
          repos:
            perf:
              pattern:
                - "*/perf"
              uri: https://github.com/razvanbugariu/spring-cloudconfig-perf
              search-paths:
                - 'station*'
security:
    user:
      name: bugariu
      password: bugariu